html, body {
  margin: 0;
  height: 100%;
  background: #000;
  font-family: Arial;
}

#map {
  height: 100vh;
  filter: contrast(1.2) brightness(0.85) saturate(1.2);
}

/* HUD */
.hud {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 9999;
  color: #00ffe1;
  background: rgba(0,0,0,0.4);
  padding: 10px;
  border: 1px solid rgba(0,255,225,0.3);
  backdrop-filter: blur(8px);
}

/* 控制面板 */
.leaflet-control-layers {
  background: rgba(10,10,20,0.8) !important;
  color: #00ffe1 !important;
  border: 1px solid rgba(0,255,225,0.3);
}

/* popup */
.leaflet-popup-content-wrapper {
  background: rgba(10,10,18,0.92);
  color: #00ffe1;
  border: 1px solid rgba(0,255,225,0.3);
}

/* 战线发光 */
.leaflet-interactive {
  filter: drop-shadow(0 0 6px rgba(255,0,80,0.7));
}

/* 标签 */
.custom-tag {
  transition: 0.2s;
}
.custom-tag:hover {
  transform: scale(1.3);
}
